
    <div class="wrapper max-w-[1920px] w-full mx-auto bg-gray-300  px-[clamp(20px,5vw,50px)] lg:px-24 pt-[clamp(85px,5vh,140px)] pb-[clamp(85px,5vh,140px)] grid gap-12 ">
        <div class="heading justify-self-center relative grid justify-center items-center gap-y-2.5">
            <h1 class="text-[clamp(30px,1.666vw+24.67px,46px)] font-medium text-body text-center">{{title}}</h1>
            <div class="div w-12.5 h-1 bg-gray-700 justify-self-center "></div>
        </div>
        <div class="logos grid grid-cols-2  md:grid-cols-3   lg:grid-cols-6 gap-5  ">
        {{content}}
        </div>
    </div>
