<div class="wrapper mx-auto max-w-[1920px]  py-15 px-5 md:px-12.5 md:py-20 lg:px-25  lg:py-25">
            <div class="header place-items-center md:place-items-start mb:px-12.5  lg:mb-15">
                <div class="blue-line h-1.5 w-30 bg-primary"></div>
                <h2 class="text-3xl md:text-4xl lg:text-6xl font-medium text-center  mt-2.5 px-17 md:px-0">{{title}}</h2>
            </div>
            <div class="team grid grid-cols-1 items-stretch md:grid-cols-3 lg:{{columns}} gap-4 lg:gap-11 justify-center">
                {{content}}
            </div>
        </div>
