   <!-- Drupal Developer -->
        <section class="bg-body-bg">
            <div class="max-w-480 mx-auto  flex flex-col xl:flex-row  xl:justify-between gap-[clamp(24px,11vw,122px)] ">
                <div class="xl:basis-1/2 pt-[clamp(60px,10dvh,100px)] xl:pb-[clamp(60px,10dvh,100px)] pr-[var(--container-px)] pl-[var(--container-px)] xl:pr-0 ">
                    <div>
                        <h2
                            class="uppercase max-w-173.5 text-h2 relative pb-5 font-bold text-tertiary after:h-1 after:w-15 after:content-[] after:bg-tertiary after:absolute after:bottom-0 after:left-0">
                            {{title}}</h2>
                    </div>
                    <div class="flex max-w-173.5 flex-col gap-4 pt-[clamp(24px,2.1vw+16px,32px)] md:pt-8">
                        <div class="text-base leading-7">
                            
                            {{description}}
                        </div>
                    </div>
                    <div class="flex self-start mt-2">
                   {{cta}}
                   </div>
                </div>
                <div
                    class="  xl:w-1/2 relative h-[clamp(300px,50vh,420px)] sm:h-[clamp(380px,55vh,520px)] md:h-[clamp(420px,60vh,658px)] xl:h-auto">
                    <img src="{{image}}" alt="Drupak team"
                        class="absolute h-full xl:h-[120%] top-0 right-0 -bottom-[clamp(50px,8vw,80px)] w-[95%] md:w-[85%] xl:w-full object-cover z-10">
                </div>
            </div>
        </section>