<footer class="container w-full max-w-[1920px] max-auto style-one">
	<div class="px-4 pt-12 pb-8 md:px-12 md:py-16 lg:px-24 bg-secondary text-white grid grid-cols-4 gap-4 md:grid-cols-8 xl:grid-cols-12">
		<div class="links_box col-start-1 col-span-4 md:col-span-8 xl:col-span-12 gap-x-4 gap-y-8 grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12 xl:row-start-1">
				{% include '@tailpine/includes/footer-menu-links-one.html.twig' %}
		</div>
	</div>
</footer>
