 <a href="{{ link }}"
               class="w-fit relative after:h-1 after:absolute after:left-0 after:top-full after:bg-primary after:w-0 hover:after:w-full after:transition-all after:duration-200">
              {{ title }}
            </a>