{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% extends "@block/block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
  <nav>
    <ul class="local-actions">
      {{ include('tailpine:localaction')}}
    </ul>
    </nav>
  {% endif %}
{% endblock %}

