<!-- Accordion Style 2 Header -->
<div {{attributes.addClass('max-w-[1920px] w-full py-15 px-5 md:py-[92px] md:px-[50px] lg:py-[104px] lg:px-25 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8 lg:gap-12 items-start')}}>

	<div class="md:max-w-[800px] lg:max-w-3xl xl:pr-20">
		<h2 class="text-3xl md:text-4xl lg:text-[46px] font-medium mb-2 lg:mb-6 text-body ">{{title}}</h2>
		<div class="text-gray-800 lg:max-w-2xl text-sm md:text-base leading-[26px] lg:leading-7">
			{{description}}
		</div>
	</div>
	<div class="space-y-2.5">
		{{content}}
	</div>
</div>
