  <div class="wrapper mx-auto max-w-[1920px] py-[clamp(52px,6vh,104px)] px-[clamp(20px,5vw,100px)] flex flex-col  gap-8">
        <div class="title flex justify-between items-end ">
            <h2 class=" text-body text-[clamp(34px,5vw,50px)] font-medium">{{title}}</h2>
            <div>
            {{cta}}
            </div>
        </div>
        <div class="postsContent grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
          {{content}}
        </div>
    </div>
