
.blog ul{
    display: flex;
    gap: 20px;
}
.blog ul li{
    padding: 6px 12px 6px 12px;
    background-color: #ECECEC;
    transition: background-color 0.3s ease;
}
.blog ul li:hover {
    background-color: #FFCC65;
}
/* active will have a different background color */
.blog ul li.active {
    background-color: #111111;
}
.blog ul li input[type="radio"]:checked + label {
  background-color: #111111;
}