@import "tailwindcss";
@config "../tailwind.config.mjs";
@theme {
    /* ---------- Colours ---------- */
    --color-primary: #ffcc65;
    --color-secondary: #ECECEC;
    --color-tertiary: #111111;
    --color-grey-bg: #F8F8F8;
    --color-body-bg: #FFFFFF;
    --color-body-gray: #F5F5F5;
    /* ---------- Heading Typography ---------- */
    /* Text Sizes */
    --h1-size: 36px;
    --h2-size: 32px;
    --h3-size: 24px;
    --h4-size: 20px;
    --h5-size: 18px;
    --h6-size: 16px;
    --title-size: 40px;
    /* Container Padding */
    --container-px: clamp(20px, calc(20px + (30 - 20) * ((100vw - 390px) / (768 - 390))), 30px);
    --nav-px: clamp(20px, calc(20px + (30 - 20) * ((100vw - 390px) / (768 - 390))), 30px);
    --container-pt: clamp(120px, calc(120px + (160 - 120) * ((100vw - 390px) / (768 - 390))), 160px);
    /* ************* Line Hieghts ************** */
    --h1-line-height: clamp(48px, calc(48px + 10 * ((100vw - 320px) / 448)), 58px);
    --h2-line-height: clamp(40px, calc(40px + 4 * ((100vw - 320px) / 448)), 45px);
    --h3-line-height: clamp(32px, calc(32px + 3 * ((100vw - 320px) / 448)), 35px);
    --h4-line-height: clamp(30px, calc(30px + 2 * ((100vw - 320px) / 448)), 32px);
    --h5-line-height: 28px;
    --h6-line-height: 24px;
    

  --font-archivo: "Archivo", sans-serif;
  --font-avenir: "Avenir", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-primary: "Montserrat", sans-serif;
  --font-tertiary: "Poppins", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  /* Default body and heading fonts */
  /* --font-secondary: var(--font-secondary);
  --font-heading: var(--font-primary); */
}


/* ------ H1 ------*/
/* Tablet: 768px to 1280px */
@media (min-width: 390px) {
    :root{
        --h1-size: clamp(36px, calc(36px + 12 * ((100vw - 390px) / 448)), 48px);
        --title-size: clamp(40px, calc(40px + 20 * ((100vw - 390px) / 448)), 60px);
        --h2-size: clamp(32px, calc(32px + 4 * ((100vw - 390px) / 448)), 36px);
        --h3-size: clamp(24px, calc(24px + 4 * ((100vw - 390px) / 448)), 28px);
        --h4-size: clamp(20px, calc(20px + 4 * ((100vw - 390px) / 448)), 24px);
        --h5-size: 18px;
        --h6-size: 16px;
    }
}
@media (min-width: 768px) {
    :root {
        --title-size: clamp(60px, calc(60px + 4 * ((100vw - 768px) / 512)), 64px);
        --h1-size: clamp(48px, calc(48px + 8 * ((100vw - 768px) / 512)), 56px);
        --h2-size: clamp(36px, calc(36px + 6 * ((100vw - 768px) / 512)), 42px);
        --h3-size: clamp(28px, calc(28px + 4 * ((100vw - 768px) / 512)), 32px);
        --h4-size: 24px;
        --h5-size: clamp(18px, calc(18px + 2 * ((100vw - 768px) / 512)), 20px);
        --h6-size: clamp(16px, calc(16px + 2 * ((100vw - 768px) / 512)), 18px);
        --container-px: clamp(30px, calc(30px + (80 - 30) * ((100vw - 768px) / (1280 - 768))), 80px);
        --nav-px: clamp(30px, calc(30px + (80 - 30) * ((100vw - 768px) / (1280 - 768))), 80px);
        --container-pt: clamp(160px, calc(160px + (200 - 160) * ((100vw - 768px) / (1280 - 768))), 200px);
        --h1-line-height: clamp(58px, calc(58px + 8 * ((100vw - 768px) / 512)), 68px);
        --h2-line-height: clamp(45px, calc(44px + 8 * ((100vw - 768px) / 512)), 52px);
        --h3-line-height: clamp(35px, calc(35px + 5 * ((100vw - 768px) / 512)), 45px);
        --h4-line-height: clamp(32px, calc(32px + 3 * ((100vw - 768px) / 512)), 34px);
        --h5-line-height: clamp(28px, calc(28px + 4 * ((100vw - 768px) / 512)), 30px);
        --h6-line-height: clamp(24px, calc(24px + 6 * ((100vw - 768px) / 512)), 26px);
    }
}

/* Desktop: 1280px to 1680px */
@media (min-width: 1280px) {
    :root {
        --container-px: clamp(80px, calc(80px + 40 * ((100vw - 1280px) / 400)), 120px);
        --nav-px: clamp(80px, calc(80px + 40 * ((100vw - 1280px) / 400)), 120px);
        --title-size: clamp(64px, calc(64px + 16 * ((100vw - 1280px) / 400)), 80px);
        --h1-size: clamp(56px, calc(56px + 4 * ((100vw - 1280px) / 400)), 60px);
        --h2-size: clamp(42px, calc(42px + 2 * ((100vw - 1280px) / 400)), 44px);
        --h3-size: 32px;
        --h4-size: clamp(24px, calc(24px + 4 * ((100vw - 1280px) / 400)), 28px);
        --h5-size: clamp(20px, calc(20px + 4 * ((100vw - 1280px) / 400)), 24px);
        --h6-size: clamp(18px, calc(18px + 2 * ((100vw - 1280px) / 400)), 20px);
        --h1-line-height: 70px; 
    }
}

/* Large Desktop: 1680px to 1920px */
@media (min-width: 1680px) {
    .container-pt{
        padding-top: clamp(120px, calc(120px + 80 * ((100vw - 1680px) / 240)), 200px);
    }
     .drupal-services-grid {
    grid-template-columns: repeat(2, minmax(0,1fr)) !important;
    display: grid !important;
  }
    :root {
        --container-px: clamp(120px, calc(120px + 130 * ((100vw - 1680px) / 240)), 250px);
        --nav-px: clamp(120px, calc(120px + 130 * ((100vw - 1680px) / 240)), 250px);
    }
}
@media (min-width: 1920px){
    :root {
        --title-size: 80px;
        --h1-size: 60px;
        --h2-size: 44px;
        --container-px: 250px;
        --nav-px: 250px;
    }
}
@media (min-width: 2120px){
    :root {
        --container-px: 0px !important;
    }
}
body{
    font-family: "Open Sans", sans-serif;
}
.text-title{
    font-size: var(--title-size);
    font-weight: 600;
    font-family: "Montserrat";
}
.text-h1{
    font-size: var(--h1-size);
    font-weight: 600;
    line-height: var(--h1-line-height);
    font-family: var(--font-primary)
}
.text-h2{
    font-size: var(--h2-size);
    font-weight: 600;
    line-height: var(--h2-line-height);
    font-family: var(--font-primary);
}
.text-h3{
    font-size: var(--h3-size);
    font-weight: 600;
    line-height: var(--h3-line-height);
    font-family: var(--font-primary);
}
.text-h4{
    font-size: var(--h4-size);
    font-weight: 600;
    line-height: var(--h4-line-height);
    font-family: var(--font-primary);
}
.text-h5{
    font-size: var(--h5-size);
    font-weight: 600;
    line-height: var(--h5-line-height);
    font-family: var(--font-primary);
}
.text-h6{
    font-size: var(--h6-size);
    font-weight: 600;
    line-height: var(--h6-line-height);
    font-family: var(--font-primary);
}
.container-px{
    padding-left: var(--container-px);
    padding-right: var(--container-px);
}
.nav-px{
    padding-left: var(--nav-px);
    padding-right: var(--nav-px);
}
.container-pt{
    padding-top: var(--container-pt);
}
/* font-family */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
} */
 .font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}
.font-tertiary {
  font-family: var(--font-tertiary);
}

header .search-icon form {
  @apply flex flex-row justify-around w-[300px] sm:w-[400px] items-center bg-white shadow px-4 py-2;

  input[type="search"] {
    @apply sm:w-[250px];
  }
  input[type="submit"] {
    @apply bg-primary text-white cursor-pointer sm:w-[100px];
  }
}
