<!-- Featured Blog -->
        <section class="container-px bg-grey-bg py-12.5 md:py-20">
            <div class="mx-auto max-w-480">
                <h2 class="text-tertiary text-h2 mt-12.5">{{title}}</h2>
                <div class="xl:flex xl:justify-between">

                    <div class="leading-7 font-secondary xl:text-lg xl:leading-7.5 text-tertiary/80 mt-5 md:max-w-3/4  xl:max-w-157.5 xl:mt-5">
                        {{description}}</div>
                        <div>
                  {{link}}</div>
                </div>

                <div class="md:mt-15 xl:mt-10 xl:grid xl:grid-cols-3 xl:gap-6">
          
                    {{content}}
                </div>
            </div>
        </section>