{#
/**
 * Button Group Component
 * 
 * Groups multiple buttons together with shared borders.
 */
#}

<div class="inline-flex shadow-sm" role="group">
  {% block buttons %}
  
    {{ buttons }}
  {% endblock %}
</div>

