{#
/**
 * Page Content Component
 * 
 * Main content area wrapper.
 */
#}

<div class="page-content max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  {% block content %}
    {{ content }}
  {% endblock %}
</div>

