{# templates/includes/footer-menus.html.twig #}
<div class="footer-one col-start-1 col-span-2 md:col-span-4 xl:col-span-3 xl:row-start-1">
	<h2 class="text-2xl font-black mb-4 text-body-bg">Quick Links</h2>
	<ul class="space-y-1 pt-1">
		<li class="pt-1 pb-1">
			<a href="/" class="hover:underline hover:text-primary text-lg">Home</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/about" class="hover:underline hover:text-primary text-lg">About Us</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/services" class="hover:underline hover:text-primary text-lg">Jobs</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/contact" class="hover:underline hover:text-primary text-lg">Press kit</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/contact" class="hover:underline hover:text-primary text-lg">Contact</a>
		</li>
	</ul>
</div>

<div class="footer-two col-start-3 col-span-2 md:col-span-4 md:col-start-5 xl:col-start-4 xl:col-span-3 xl:row-start-1">
	<h2 class="text-2xl font-black mb-4 text-body-bg">Services</h2>
	<ul class="space-y-1 pt-1">
		<li class="pt-1 pb-1">
			<a href="/faq" class="hover:underline hover:text-primary text-lg">Branding</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/privacy-policy" class="hover:underline hover:text-primary text-lg">Design</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/terms" class="hover:underline hover:text-primary text-lg">Marketing</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/terms" class="hover:underline hover:text-primary text-lg">Features</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/about" class="hover:underline hover:text-primary text-lg">Advertisement</a>
		</li>
	</ul>
</div>

<div class="footer-three col-start-1 col-span-2  md:col-span-4 xl:col-span-3 xl:col-start-7 xl:row-start-1">
	<h2 class="text-2xl font-black mb-4 text-body-bg">Legal</h2>
	<ul class="space-y-1 pt-1">
		<li class="pt-1 pb-1">
			<a href="/faq" class="hover:underline hover:text-primary text-lg">Terms of use</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/about" class="hover:underline hover:text-primary text-lg">Privacy policy</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/privacy-policy" class="hover:underline hover:text-primary text-lg">Cookie policy</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/privacy-policy" class="hover:underline hover:text-primary text-lg">Security</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="/terms" class="hover:underline hover:text-primary text-lg">Terms & Conditions</a>
		</li>
	</ul>
</div>

<div class="footer-four col-start-3 col-span-2 md:col-span-4 md:col-start-5 xl:col-start-10 xl:col-span-3 xl:row-start-1">
	<h2 class="text-2xl font-black mb-4 text-body-bg">Connect</h2>
	<ul class="space-y-1 pt-1">
		<li class="pt-1 pb-1">
			<a href="https://twitter.com" target="_blank" class="hover:underline hover:text-primary text-lg">Twitter</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="https://facebook.com" target="_blank" class="hover:underline hover:text-primary text-lg">Facebook</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="https://linkedin.com" target="_blank" class="hover:underline hover:text-primary text-lg">LinkedIn</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="https://instagrame.com" target="_blank" class="hover:underline hover:text-primary text-lg">Instagram</a>
		</li>
		<li class="pt-1 pb-1">
			<a href="https://youtube.com" target="_blank" class="hover:underline hover:text-primary text-lg">Youtube</a>
		</li>
	</ul>
</div>

<div class="copyright col-start-1 md:mt-4 col-span-4 md:col-span-8 xl:col-span-12 xl:row-start-2 grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12 xl:row-start-1">
	<div class="copyright-text col-start-1 col-span-4 md:col-span-8 xl:col-span-12 xl:row-start-1">
		<p style="line-height:0;max-width:100%;padding:0;text-align:center !important;" class="text-xl">Copyright © 2025 PRIMA LOGO</p>
	</div>
</div>
