   <div class="wrapper  mx-auto max-w-[1920px] flex flex-col  gap-8 px-[clamp(20px,5vw,100px)] py-[clamp(58px,4vw,81px)] w-full">
           <div class="heading justify-self-center relative grid justify-center items-center gap-y-2.5">
            <h1 class="text-[clamp(30px,1.666vw+24.67px,46px)] font-medium text-body text-center">{{title}}</h1>
            <div class="div w-12.5 h-1 bg-secondary justify-self-center "></div>
        </div>
        <div class="cards gap-4 grid grid-cols-2  md:grid-cols-4 md:gap-8 items-center  lg:grid-cols-6 lg:gap-8  ">
          {{content}}
        </div>
    </div>
