  <!-- Accordion Style 1 -->
  <div class="max-w-4xl py-15 px-5 md:py-[92px] md:px-12.5 lg:py-26 mx-auto">

    <div class="text-center">
      <h2 class="text-3xl md:text-4xl text-body lg:text-[46px] font-medium mb-[30px] md:mb-[40px] lg:mb-[50px]">{{title}}</h2>
    </div>
        <div class="">
        {{content}}
     </div>
</div>
