{#
/**
 * Page Navigation Component
 * 
 * Main navigation wrapper.
 */
#}

<nav class="bg-primary text-body-bg shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</nav>

