{#
/**
 * Page Footer Component
 * 
 * Site footer wrapper.
 */
#}

<footer class="bg-gray-900 text-gray-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</footer>

